

.overall-background {
  background: white;
  /*background: #34495e;*/
  /*background: url('../img/zwartevilt.png') repeat;*/
}


.status-bar-default {
  background: #206D9A;
  opacity: 0.7;
}

.status-bar-green {
  background: green;
  opacity: 0.7;
}





/* Splash Screen */

.splash-background-default {
  background: #fafafa;

  /*background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 51%, #207cca 51%, #111111 51%, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(51%,#fafafa), color-stop(51%,#207cca), color-stop(51%,#111111), color-stop(100%,#111111));
  background: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 51%,#207cca 51%,#111111 51%,#111111 100%);
  background: -o-linear-gradient(top, #fafafa 0%,#fafafa 51%,#207cca 51%,#111111 51%,#111111 100%);
  background: -ms-linear-gradient(top, #fafafa 0%,#fafafa 51%,#207cca 51%,#111111 51%,#111111 100%);
  background: linear-gradient(to bottom, #fafafa 0%,#fafafa 51%,#207cca 51%,#111111 51%,#111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#111111',GradientType=0 );*/
}

.splash-surface-default {
  font-size: 36px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;

  line-height: 70px;

  color: #1F2D2D;


  text-align: center;
}







/* Todo Filter Tabs Items */

.todo-filter-tabs-bg-default {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  background: rgba(255,255,255,0.8);
  border-top: 1px solid #1f2d2d;
  border-bottom: 1px solid #1f2d2d;
}

.todo-filter-tabs-item-default {
  line-height: 40px;
  text-align: left;
  padding-left: 8px;
}

.todo-filter-tabs-item-default.selected {
  background: #1f2d2d;
  color: white;
}


/* Todo Filter Tabs Items */

.invoice-filter-tabs-bg-default {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  
  background: rgba(255,255,255,0.5);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.invoice-filter-tabs-item-default {
  line-height: 40px;
  text-align: left;
  padding-left: 8px;
}

.invoice-filter-tabs-item-default.selected {
  /*background: #1f2d2d;*/
  background: #000;
  color: white;
}





/* Landing Page */

.landing-page-bg-default {
  /*background: url('../img/landingbg.png') no-repeat;*/
  background: #fafafa;
  /*background: url('https://dl.dropboxusercontent.com/u/6673634/landingWelcome4%402x.png') no-repeat;*/
  background-size: cover;
}

.landing-page-logo-tagline {
  text-align: center;
}

.landing-page-logo-tagline > div:nth-child(1) {
  font-size: 72px;
  line-height: 80px;
}

.landing-page-logo-tagline > div:nth-child(2) {
  font-size: 18px;
  line-height: 24px;
}

.landing-title-bg-gradient {

  /*background: rgb(212,161,118);
  background: -moz-linear-gradient(top, rgba(212,161,118,1) 0%, rgba(255,236,178,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,161,118,1)), color-stop(100%,rgba(255,236,178,1)));
  background: -webkit-linear-gradient(top, rgba(212,161,118,1) 0%,rgba(255,236,178,1) 100%);
  background: -o-linear-gradient(top, rgba(212,161,118,1) 0%,rgba(255,236,178,1) 100%);
  background: -ms-linear-gradient(top, rgba(212,161,118,1) 0%,rgba(255,236,178,1) 100%);
  background: linear-gradient(to bottom, rgba(212,161,118,1) 0%,rgba(255,236,178,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a176', endColorstr='#ffecb2',GradientType=0 );*/

  /*
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(36%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,0.92)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.92) 44%,rgba(255,255,255,0) 100%);
  */
}

.landing-signup-button {
  color: white;
  padding: 8px 8px;
  text-align: center;
}

.landing-signup-button > div {
  display: inline-block;
  /*background: #182030;*/
  background: #307A87;
  padding: 14px 8px;
  width: 80%;

  white-space: nowrap;
  overflow: hidden;

  border-radius: 2px;
  -webkit-border-radius: 2px;

}

.landing-login-button {
  text-align: center;
  padding: 16px 8px 8px 8px;
  /*color: white;*/
  color: #1F2D2D;
}

.landing-login-button span {
  font-weight: bold;
}

.header-landing-page-text {
  color: #1F2D2D;
  text-align: left;
  line-height: 60px;

  white-space: nowrap;
  /*overflow: hidden;*/

}


/* login */

.login-page-welcome-top-default { /* > div:nth-child(3){*/
  font-weight: bold;
  font-size: 58px;
  line-height: 60px;
  /*font-family: 'Kaushan Script', cursive;*/
  text-align: center;
}

.login-forgot-pass-button {
  color: #444;
  line-height: 60px;
  text-align: center;
}



/* welcome ! */

.welcome-page-default {
  /*background: white;*/
  text-align: center;
  color: #333;
}

.welcome-page-default > div:nth-child(1){
  font-size: 20px;
  line-height: 30px;
}

.welcome-page-default > div:nth-child(2){
  font-size: 14px;
  line-height: 20px;
}

.welcome-page-default > div:nth-child(3){
  /*font-weight: bold;*/
  font-size: 72px;
  line-height: 80px;
  /*font-family: 'Kaushan Script', cursive;*/
}

.welcome-page-default > div:nth-child(4) {
  font-size: 26px;
  line-height: 50px;
}

.welcome-page-username-default {
  text-align: center;
  color: #333;
  line-height: 30px;
  font-size: 18px;
}



/* Settings */

.settings-list-item {
  /*color: white;*/
  line-height: 32px;
  font-size: 24px;
  padding: 20px 8px 8px 8px;
  /*border-bottom: 1px solid #ddd;*/
  /*background-color: white;*/
  /*background: rgba(255,255,255,0.2);*/
}

.settings-list-item i {
  padding: 0 0 0 8px;
  display: inline-block;
  width: 24px;
}

.settings-list-item > div:last-child {
  font-size: 14px;
}
.settings-list-item > div:first-child {
  font-size: 18px;
}




/* Thread List Items */

.thread-list-item div.padding {
  padding: 12.5px 8px;
  border-bottom: 1px solid #ececec;
}


.thread-list-item .sender {
  padding: 2px 0;
}

.thread-list-item .datetime_holder {
  text-align: right;

  font-size: 12px;
  color: #888;
}

.thread-list-item .subject {

}

.thread-list-item .last_message {
  opacity: 0.8;
}



/* Viewing a Thread (list of emails) */

.email-list-item-from {
  padding: 8px;
  background: #ececec;
}

.email-list-item-body {
  padding: 8px;
}

.ParsedDataContent {
  word-wrap: break-word;
}

.ParsedDataContent:not([data-level="0"]) {
  display: none;
  margin-top: 18px;
}

.ParsedDataContent div.embedded_media {
  padding: 5px 0;
}
















