
    <div class="slide-list-item__top">
        <div class="clearfix no_attachment">
            <div class="sender ellipsis three-quarters">{{Thread.original.subject}}</div>
            <div class="datetime_holder quarter"><div class="datetime">{{shorttime Thread.attributes.last_message_datetime}}</div></div>
        </div>
        <div class="subject ellipsis">{{thread_participants_pretty Email}}&nbsp;</div>
        <div class="last_message ellipsis">{{Thread.attributes.last_message}}</div>
    </div>